.searchResults {
  margin-left: 260px;
  width: 75%;
}

.resultCard {
  display: inline-flex;
  padding: 20px;
  width: 100%;
}

.resultCard > img {
  width: 350px;
  height: auto;
}

.resultCard > div {
  width: 100%;
  margin-left: 20px;
}
